@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #741ce8 !important;
}

.custom-nav {
  background-color: #741ce8;
  transition: all 0.5s;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-brand {
  padding: 0;
}
.nav-link {
  letter-spacing: 1.2 !important;
  font-family: "Poppins", sans-serif;
}
.nav-link.active {
  font-weight: 600 !important;
  color: white !important;
}

.nav-link:hover {
  color: white !important;
}

.brand-customize {
  position: relative;
  line-height: 1;
}

.brand-logo {
  font-family: "Diplomata SC", cursive;
  font-size: 30px;
}

.brand-text {
  position: absolute;
  top: 0.2rem;
  left: 3rem;
  font-size: 12px !important;
  letter-spacing: 0.2rem;
}

.brand-subtext {
  position: absolute;
  top: 1rem;
  left: 3rem;
  font-size: 11px !important;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  display: block;
}

.header {
  background: linear-gradient(to bottom, #070010f2, #7503ff52),
    url("../public/images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 95vh;
}

.landing-page {
  height: 95vh !important;
}

.link-text {
  color: white;
  text-decoration: none;
}

.link-text:hover {
  color: white;
  text-decoration: underline;
}

.align-contents {
  margin-top: 10%;
}

.custom-button {
  background: linear-gradient(180deg, #f2cf00 0, #f2b200 100%) !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.5rem 2rem !important;
}

.custom-button:hover,
.projects-button:hover,
.contact-form-button:hover {
  transform: translateY(-3px);
}

.landing-header {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-size: 40px !important;
  letter-spacing: 0.2rem !important;
}

.landing-texts {
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.1rem !important;
  font-weight: 300 !important;
}
/* Portfolio */
.portfolioSectionHeader {
  background-color: #741ce8;
  border-bottom: #0000001c 2px solid;
}
.portfolio--header {
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.2rem !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
}

.portfolio--text {
  letter-spacing: 0.08rem !important;
}

.projects-card {
  border: none !important;
}

.navOnScroll {
  position: fixed;
  background-color: #741ce8;
  border-bottom: #0000001c 2px solid;
  transition: all 0.5s;
}

.cards-image {
  border-radius: 10px;
  border: 3px solid rgb(9, 9, 9);
  box-shadow: 0 8px 20px -6px black;
  background-color: black;
  -webkit-font-smoothing: antialiased;
}

.portfolioBackground {
  background-color: #f7f7f7;
  padding-bottom: 1.5rem;
}

.card--header {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.2rem;
  color: #2d2c2c !important;
}

.projects-button,
.projects-button:hover,
.projects-button:focus {
  background-color: #741ce8 !important;
  border: none !important;
  padding: 15px 30px !important;
  border-radius: 30px !important;
  display: inline-block !important;
}

a.btn-link,
a.btn-link:hover,
a.btn-link:visited,
a.btn-link:active {
  color: #f7f7f7;
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* Contact */
.contact-section {
  padding: 8rem 3%;
}

/* Making Contact Section Responsive using media queries */
@media only screen and (min-width: 992px) {
  .contact {
    background-image: linear-gradient(
        100deg,
        rgba(245, 245, 245, 0.9) 0%,
        rgba(245, 245, 245, 0.9) 50%,
        transparent 50%
      ),
      url("../public/images/contact-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  }

  .contact--form {
    padding: 5%;
    width: 50%;
    text-align: center;
  }

  .contact--form--header {
    text-transform: uppercase;
    background-image: linear-gradient(to right, #a278d8, #741ce8);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    font-weight: 700;
  }

  .contact-form-inputs {
    font-family: inherit !important;
    padding: 1.5rem !important;
    margin: 2rem 0 !important;
    border-bottom: transparent 5px solid !important;
  }

  .contact-form-inputs:focus {
    outline: none !important;
    border-bottom: #2ecc71 5px solid !important;
  }

  .contact-form-inputs:focus:invalid {
    outline: none !important;
    border-bottom: red 5px solid !important;
  }

  .contact-form-button,
  .contact-form-button:hover,
  .contact-form-button:focus {
    background-color: #741ce8 !important;
    border: none !important;
    padding: 15px 30px !important;
    border-radius: 30px !important;
  }

  .contact-other {
    margin: 0 auto;
    text-align: center;
  }

  .contact-other-item,
  .contact-other-item:focus,
  .contact-other-item:visited,
  .contact-other-item:active,
  .contact-other-item:hover {
    display: inline-block;
    padding: 0 1.5rem;
    text-decoration: none;
  }

  .contact-other-item:hover {
    color: #741ce8 !important;
  }
}

@media only screen and (max-width: 991px) {
  .contact {
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  }

  .contact--form {
    padding: 5%;
    text-align: center;
  }

  .contact--form--header {
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #a278d8, #741ce8);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    font-weight: 700;
  }

  .contact-form-inputs {
    font-family: inherit !important;
    padding: 1.5rem !important;
    margin: 2rem 0 !important;
    border-bottom: transparent 5px solid !important;
  }

  .contact-form-inputs:focus {
    outline: none !important;
    border-bottom: #2ecc71 5px solid !important;
  }

  .contact-form-inputs:focus:invalid {
    outline: none !important;
    border-bottom: red 5px solid !important;
  }

  .contact-form-button,
  .contact-form-button:hover,
  .contact-form-button:focus {
    background-color: #741ce8 !important;
    border: none !important;
    padding: 15px 30px !important;
    border-radius: 30px !important;
  }
  .contact-other {
    margin: 0 auto;
    text-align: center;
  }

  .contact-other-item,
  .contact-other-item:focus,
  .contact-other-item:visited,
  .contact-other-item:active,
  .contact-other-item:hover {
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
  }

  .contact-other-item:hover {
    color: #741ce8 !important;
  }
}

/* Footer */
footer {
  padding: 3rem 0;
  background-color: #333;
}

.format-center-texts {
  line-height: 1.02;
}

.footer-logo {
  font-family: "Diplomata SC", cursive;
  font-size: 5rem;
  background-image: linear-gradient(to right, #a278d8, #741ce8);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.footer-name {
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  background-image: linear-gradient(to right, #a278d8, #741ce8);
  -webkit-background-clip: text;
  color: transparent;
  display: block;
}
.footer-contents {
  padding-top: 6rem;
}
.footer-list {
  padding: 2rem 0;
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.footer-list-item {
  display: inline-block;
}

.footer-list-item:not(:last-child) {
  padding-right: 1rem;
}

.footer-list > li > a {
  color: white;
}

.copyright {
  line-height: 0.8;
  text-align: left;
  padding: 2rem 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}

.footer-list::before,
.copyright::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  color: white;
  width: 100%;
  border-top: solid 1px #fff;
}

@media only screen and (max-width: 320px) {
  .footer-contents {
    font-size: 75%;
  }

  .landing-header {
    font-size: 30px;
  }
  .landing-texts {
    font-size: 90%;
  }
}
/* Skills */
.skill-header {
  margin-top: 5rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.skills-item {
  background-color: #f7f7f7;
  margin: 20px;
  height: 25rem;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 60px #0000007a;
}

.skills-item--header {
  width: 100%;
  background-color: green;
  transform: skewY(-6deg);
  text-align: center;
  padding: 2rem;
}
.skills-item--header > h3 {
  transform: skewY(6deg);
}
.skill-1 {
  background-color: #5f27cd;
}

.skill-2 {
  background-color: #8395a7;
}

.skill-3 {
  background-color: #60a3bc;
}

.back,
.back-1,
.back-2,
.back-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  /* background-color: green; */
}

.back-1 {
  background-color: #5f27cd;
}
.back-2 {
  background-color: #8395a7;
}
.back-3 {
  background-color: #60a3bc;
}
.skills-item--list > ul {
  padding: 3rem;
  text-align: center;
}
.skills-item--list > ul > li {
  /* color: rgb(9, 9, 9); */
  color: #8395a7;
  line-height: 2rem;
}

.skills-item--list > ul > li:not(:last-child) {
  border-bottom: #eee 1px solid;
}

@media only screen and (max-width: 991px) {
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
